 .list {
  display: flex;
  justify-content: space-between;
  width: 350px;
  list-style: none;
}
.menulist {
text-decoration: none;
text-decoration-style: none;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropdown {
  list-style: none;
  margin-left: -40px;
  margin-top: 10px;
}
#drop:hover .dropdown{
  display: block;
}

.menulist:hover , .dropdown:hover{
  color: red;
}

